.button {
    @include no-decoration;
    display: inline-flex;
    align-content: center;
    align-items: center;
    padding: 0.5em;    
    border: 0;
    color: inherit;
    font-family: inherit;
    line-height: 1em;
    cursor: pointer;
    margin: 0 0.5em 0.5em 0;
}

.button-group {
    display: inline-flex;
    margin: 0.5em;
    .button {
        margin: 0;
    }
}


