@import 'mixins/grid';

.grid {
    display: flex;
    flex-direction: column;
    [class*=col] {      
        padding: $columns-gap;      
    }

    @include modifier('gapless') {
        @include gapless;
    }
    

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        
        @include modifier('center') {
            justify-content: center;
        }

        @include modifier('end') {
            justify-content: flex-end; 
        }

        @include modifier('between') {
            justify-content: space-between;
        }

        @include modifier('around') {
            justify-content: space-around;
        }

        @include modifier('gapless') {
            @include gapless;
        }
    }

}

// General Column
@include generate-columns($columns-count, '');

// Responsive Columns
@each $k, $v in $breakpoints {
    @if type-of($v) == "list" {
        $list: $v;
        @media (min-width: nth($list, 1)) and (max-width: nth($list, 2)) {
            @include generate-columns($columns-count, '-' + $k);
            .col--#{$k}-hide {
                display: none;
            }
        }    
    } @else if index(($breakpoints), ($k $v)) == 1 {
        @media (max-width: $v) {
            @include generate-columns($columns-count, '-' + $k);
            .col--#{$k}-hide {
                display: none;
            }
        }
    } @else {
        @media (min-width: $v) {
            @include generate-columns($columns-count, '-' + $k);
            .col--#{$k}-hide {
                display: none;
            }
        }
    }
}

