

.container {
   display: flex;
   flex-direction: column;

   .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &.row-center {
         justify-content: center;
      }

      &.row-end {
         justify-content: flex-end; 
      }

      &.row-between {
         justify-content: space-between;
      }

      &.row-around {
         justify-content: space-around;
      }

      &.gapless {
         > [class*=col] {
            padding: 0;      
         }
      }
   }
   
   [class*=col] {      
      padding: 0.25rem;      
   }
}

@include generate-columns($columns-count, 0, '');

@each $key, $value in $breakpoints {
   @media (min-width: $value) {
      @include generate-columns($columns-count, $value, '-' + $key);
   }
}

