@import 'mixins/typography';

@include heading(4, 1.333);

.title {
    margin-bottom: 0;
}

.p {
    margin: 0;
    margin-bottom: 1em;
    line-height: 1.6em;
    &:not(:last-of-type) {
        margin-bottom: 2em;
    }
}

.small {
    font-size: 0.75em;
}