$breakpoints: (
    'sm': 511px,
    'md': (512px, 1023px),
    'lg': 1024px
) !default;

$columns-count: 12 !default;
$columns-gap: 0.5rem !default;

$font-family: ('Arial', sans-serif) !default;
$font-family-monospaced: ('Times', serif, monospace) !default;
$font-size: 16px !default;