extends base.pug

block content
    div(class="grid")
        div(class="row")
            div(class="col-12")
                img(class="avatar avatar--inline avatar--larger" src="media/knkl.jpg")
                img(class="avatar avatar--inline avatar--large" src="media/knkl.jpg")
                img(class="avatar avatar--inline avatar--medium" src="media/knkl.jpg")
                img(class="avatar avatar--inline avatar--small" src="media/knkl.jpg")
                img(class="avatar avatar--inline avatar--smaller" src="media/knkl.jpg")
        div(class="row")
            div(class="col-12")
                img(class="avatar avatar--inline avatar--larger" src="media/laura.jpg")
                img(class="avatar avatar--inline avatar--large" src="media/laura.jpg")
                img(class="avatar avatar--inline avatar--medium" src="media/laura.jpg")
                img(class="avatar avatar--inline avatar--small" src="media/laura.jpg")
                img(class="avatar avatar--inline avatar--smaller" src="media/laura.jpg")
