extends base.pug

block extra_style
   link(rel="stylesheet", href="custom.css")
      
block content
   h1(class="h4") Responsive Columns
   div(class="container")
      div(class="row")
         div(class="col-lg-3 col-md-6 col-sm-12")
            p(class="p") Laborum dolor aute aliqua sunt ipsum ullamco minim minim enim commodo.
         div(class="col-lg-3 col-md-6 col-sm-12")
            p(class="p") Laborum dolor aute aliqua sunt ipsum ullamco minim minim enim commodo.
         div(class="col-lg-3 col-md-6 col-sm-12")
            p(class="p") Laborum dolor aute aliqua sunt ipsum ullamco minim minim enim commodo.      
         div(class="col-lg-3 col-md-6 col-sm-12")
            p(class="p") Laborum dolor aute aliqua sunt ipsum ullamco minim minim enim commodo.      