extends base.pug

block content
    div(class="grid")
        div(class="row")
            div(class="col-12")
                h2(class="h2") Media Object
        div(class="row")
            div(class="col-6")
                h4(class="h4") Default                
                div(class="media")
                    div(class="media__content")
                        h4(class="h4 title") Oliver Smith
                        p(class="p") Nostrud eiusmod Lorem ullamco sunt qui velit. Minim nostrud elit aliquip sit irure in culpa consequat. Dolore duis cillum minim magna cupidatat aliquip minim.
                h4(class="h4") Avatar  
                div(class="media")
                    div(class="media__figure")
                        img(class="avatar avatar--larger" src="media/knkl.jpg")
                    div(class="media__content")
                        h4(class="h4 title") Oliver Smith
                        p(class="p") Nostrud eiusmod Lorem ullamco sunt qui velit. Minim nostrud elit aliquip sit irure in culpa consequat. Dolore duis cillum minim magna cupidatat aliquip minim.                    
                h4(class="h4") Avatar (Reverse) 
                div(class="media media--reverse")
                    div(class="media__figure")
                        img(class="avatar avatar--larger" src="media/knkl.jpg")
                    div(class="media__content")
                        h4(class="h4 title") Oliver Smith
                        p(class="p") Nostrud eiusmod Lorem ullamco sunt qui velit. Minim nostrud elit aliquip sit irure in culpa consequat. Dolore duis cillum minim magna cupidatat aliquip minim.                    
            div(class="col-6")
                div(class="media")
                    div(class="media__figure")
                        img(class="avatar avatar--larger" src="media/knkl.jpg")
                    div(class="media__content")
                        h4(class="h4 title") Oliver Smith
                        p(class="p") Nostrud eiusmod Lorem ullamco sunt qui velit. Minim nostrud elit aliquip sit irure in culpa consequat. Dolore duis cillum minim magna cupidatat aliquip minim.                    
                        // Media object response #1
                        div(class="media")
                            div(class="media__figure")
                                img(class="avatar avatar--medium" src="media/knkl.jpg")
                            div(class="media__content")
                                h4(class="h4 title") Oliver Smith
                                p(class="p") Nostrud eiusmod Lorem ullamco sunt qui velit. Minim nostrud elit aliquip sit irure in culpa consequat. Dolore duis cillum minim magna cupidatat aliquip minim.                    
                                div(class="media__content__actions")
                                    div()
                                        a(class="button")                                            
                                                i(class="fas fa-retweet") 
                                        a(class="button")                                            
                                                i(class="fas fa-heart") 
                        // Media object response #2
                        div(class="media")
                            div(class="media__figure")
                                img(class="avatar avatar--medium" src="media/knkl.jpg")
                            div(class="media__content")
                                h4(class="h4 title") Oliver Smith
                                p(class="p") Nostrud eiusmod Lorem ullamco sunt qui velit. Minim nostrud elit aliquip sit irure in culpa consequat. Dolore duis cillum minim magna cupidatat aliquip minim.                    
