extends base.pug

block content
    div(class="grid")
        div(class="row")
            div(class="col-6")
                div(class="media")
                    div(class="media-figure")
                        img(class="avatar" src="media/knkl.jpg")
                    div(class="media-content")
                       p(class="p") Nostrud eiusmod Lorem ullamco sunt qui velit sint culpa. Minim nostrud elit aliquip sit irure in culpa consequat. Dolore duis cillum minim magna cupidatat aliquip minim.